In [66]:
%matplotlib inline
import pandas as pd

In [4]:
from IPython.core.display import HTML
css = open('style-table.css').read() + open('style-notebook.css').read()
HTML('<style>{}</style>'.format(css))

In [65]:
titles = pd.DataFrame.from_csv('data/titles.csv', index_col=None)
titles.head()

                 title  year
0      The Beachcomber  1954
1  You Were Never Here  2017
2    Hei shou jin gang  1974
3            Campioana  1990
4              Doroppu  2009

In [64]:
cast = pd.DataFrame.from_csv('data/cast.csv', index_col=None)
cast.head()

                  title  year      name   type                character     n
0        Closet Monster  2015  Buffy #1  actor                  Buffy 4  31.0
1       Suuri illusioni  1985    Homo $  actor                   Guests  22.0
2   Battle of the Sexes  2017   $hutter  actor          Bobby Riggs Fan  10.0
3  Secret in Their Eyes  2015   $hutter  actor          2002 Dodger Fan   NaN
4            Steve Jobs  2015   $hutter  actor  1988 Opera House Patron   NaN

### How many movies are listed in the titles dataframe?

In [10]:
len(titles)

236536

### What are the earliest two films listed in the titles dataframe?

In [18]:
titlesSortedByYear = titles.sort_values('year', ascending = True)

In [20]:
titlesSortedByYear.head(2)

                     title  year
232484          Miss Jerry  1894
93507   The Startled Lover  1898

### How many movies have the title "Hamlet"?

In [54]:
#Movies entitled "Hamlet"
hamletMovies = titles[titles.title =='Hamlet']
len(hamletMovies)

20

In [55]:
#Movies whose title contains "Hamlet"
hamletMovies = titles[titles['title'].str.contains("Hamlet")]
len(hamletMovies)

56

### How many movies are titled "North by Northwest"?

In [52]:
movies = titles[titles.title == "North by Northwest"]

In [53]:
len(movies)

1

### When was the first movie titled "Hamlet" made?

In [38]:
hamletMovies = titles[titles.title == "Hamlet"]

In [40]:
hamletMovies.sort_values('year', ascending = True).head(1)

        title  year
89624  Hamlet  1910

### List all of the "Treasure Island" movies from earliest to most recent.

In [41]:
titles[titles.title == "Treasure Island"].sort_values('year', ascending = True)

                  title  year
42842   Treasure Island  1918
33940   Treasure Island  1920
51848   Treasure Island  1934
132275  Treasure Island  1950
172301  Treasure Island  1972
234930  Treasure Island  1973
88983   Treasure Island  1985
100895  Treasure Island  1999

### How many movies were made in the year 1950?

In [118]:
len(titles[titles.year == 1950])

1102

### How many movies were made in the year 1960?

In [56]:
len(titles[titles.year == 1960])

1511

### How many movies were made from 1950 through 1959?

In [57]:
len(titles[(titles.year > 1949) & (titles.year < 1960)])

12796

In [58]:
len(titles[(titles.year >= 1950) & (titles.year <= 1959)])

12796

### In what years has a movie titled "Batman" been released?

In [59]:
yearsBatman = titles[titles.title == "Batman"]

In [61]:
yearsBatman.year

49535     1989
146249    1943
Name: year, dtype: int64

### How many roles were there in the movie "Inception"?

In [69]:
inceptionMovieCast = cast[cast.title == "Inception"]

In [70]:
len(inceptionMovieCast)

78

### How many roles in the movie "Inception" are NOT ranked by an "n" value?

In [74]:
len(inceptionMovieCast[inceptionMovieCast.n.isnull()])

27

### But how many roles in the movie "Inception" did receive an "n" value?

In [75]:
len(inceptionMovieCast[inceptionMovieCast.n.notnull()])

51

### Display the cast of "North by Northwest" in their correct "n"-value order, ignoring roles that did not earn a numeric "n" value.

In [84]:
castSortedByN = cast[cast.title == "North by Northwest"].sort_values('n', ascending = True)

In [86]:
castSortedByN[castSortedByN.n.notnull()]

,title,year,name,type,character,n
858571,North by Northwest,1959,Cary Grant,actor,Roger O. Thornhill,1.0
3437764,North by Northwest,1959,Eva Marie Saint,actress,Eve Kendall,2.0
1435159,North by Northwest,1959,James Mason,actor,Phillip Vandamm,3.0
3092228,North by Northwest,1959,Jessie Royce Landis,actress,Clara Thornhill,4.0
351332,North by Northwest,1959,Leo G. Carroll,actor,The Professor,5.0
2988367,North by Northwest,1959,Josephine Hutchinson,actress,Mrs. Townsend,6.0
1669717,North by Northwest,1959,Philip Ober,actor,Lester Townsend,7.0
1255917,North by Northwest,1959,Martin Landau,actor,Leonard,8.0
2409669,North by Northwest,1959,Adam Williams,actor,Valerian,9.0
1783943,North by Northwest,1959,Edward Platt,actor,Victor Larrabee,10.0
655908,North by Northwest,1959,Robert Ellenstein,actor,Licht,11.0
2260557,North by Northwest,1959,Les Tremayne,actor,Auctioneer,12.0
457768,North by Northwest,1959,Philip Coolidge,actor,Dr. Cross,13.0
1485733,North by Northwest,1959,Patrick McVey,actor,Sergeant Flamm,14.0
203162,North by Northwest,1959,Edward Binns,actor,Captain Junket,15.0
1363765,North by Northwest,1959,Ken Lynch,actor,Charley - Chicago Policeman,16.0

### Display the entire cast, in "n"-order, of the 1972 film "Sleuth".

In [91]:
cast[(cast.title == "Sleuth") & (cast.year == 1972)].sort_values('n', ascending = True)

,title,year,name,type,character,n
1679636,Sleuth,1972,Laurence Olivier,actor,Andrew Wyke,1.0
321745,Sleuth,1972,Michael Caine,actor,Milo Tindle,2.0
368313,Sleuth,1972,Alec Cawthorne,actor,Inspector Doppler,3.0
1443301,Sleuth,1972,John (II) Matthews,actor,Detective Sergeant Tarrant,4.0
2677538,Sleuth,1972,Eve (III) Channing,actress,Marguerite Wyke,5.0
1426819,Sleuth,1972,Teddy Martin,actor,Police Constable Higgs,6.0

### Now display the entire cast, in "n"-order, of the 2007 version of "Sleuth".

In [92]:
cast[(cast.title == "Sleuth") & (cast.year == 2007)].sort_values('n', ascending = True)

          title  year                 name     type          character    n
321746   Sleuth  2007        Michael Caine    actor             Andrew  1.0
1274008  Sleuth  2007             Jude Law    actor               Milo  2.0
1778569  Sleuth  2007        Harold Pinter    actor        Man on T.V.  3.0
255991   Sleuth  2007      Kenneth Branagh    actor  Other Man on T.V.  NaN
368314   Sleuth  2007  Alec (II) Cawthorne    actor  Inspector Doppler  NaN
2677537  Sleuth  2007    Eve (II) Channing  actress    Marguerite Wyke  NaN
3296378  Sleuth  2007    Carmel O'Sullivan  actress             Maggie  NaN

### How many roles were credited in the silent 1921 version of Hamlet?

In [93]:
len(cast[(cast.title.str.contains("Hamlet")) & (cast.year == 1921)])

9

In [95]:
len(cast[(cast.title =="Hamlet") & (cast.year == 1921)])

9

### How many roles were credited in Branagh’s 1996 Hamlet?

In [94]:
len(cast[(cast.title.str.contains("Hamlet")) & (cast.year == 1996)])

56

### How many "Hamlet" roles have been listed in all film credits through history?

In [96]:
len(cast[cast.character == "Hamlet"])

96

### How many people have played an "Ophelia"?

In [131]:
len(cast[cast.character == "Ophelia"])

113

In [132]:
#The same actress may have played Ophelia several times
opheliaCast = cast[cast.character == "Ophelia"]
len(opheliaCast.name.unique())

111

In [133]:
len(cast[cast.character == "Ophelia"].name.unique())

111

### How many people have played a role called "The Dude"?

In [134]:
len(cast[cast.character == "The Dude"].name.unique())

18

### How many people have played a role called "The Stranger"?

In [135]:
len(cast[cast.character == "The Stranger"].name.unique())

200

### How many roles has Sidney Poitier played throughout his career?

In [103]:
len(cast[cast.name == "Sidney Poitier"])

43

### How many roles has Judi Dench played?

In [104]:
len(cast[cast.name == "Judi Dench"])

54

### List the supporting roles (having n=2) played by Cary Grant in the 1940s, in order by year.

In [106]:
cast[(cast.name == "Cary Grant") & (cast.year //10 * 10 == 1940) & (cast.n == 2)].sort_values('year')

                   title  year        name   type    character    n
858568  My Favorite Wife  1940  Cary Grant  actor   Nick Arden  2.0
858578    Penny Serenade  1941  Cary Grant  actor  Roger Adams  2.0

### List the leading roles that Cary Grant played in the 1940s in order by year.

In [107]:
cast[(cast.name == "Cary Grant") & (cast.year //10 * 10 == 1940) & (cast.n == 1)].sort_values('year')

,title,year,name,type,character,n
858593,The Howards of Virginia,1940,Cary Grant,actor,Matt Howard,1.0
858550,His Girl Friday,1940,Cary Grant,actor,Walter Burns,1.0
858595,The Philadelphia Story,1940,Cary Grant,actor,C. K. Dexter Haven,1.0
858583,Suspicion,1941,Cary Grant,actor,Johnnie,1.0
858597,The Talk of the Town,1942,Cary Grant,actor,Leopold Dilg,1.0
858574,Once Upon a Honeymoon,1942,Cary Grant,actor,Patrick 'Pat' O'Toole,1.0
858541,Destination Tokyo,1943,Cary Grant,actor,Capt. Cassidy,1.0
858566,Mr. Lucky,1943,Cary Grant,actor,Joe Adams,1.0
858567,Mr. Lucky,1943,Cary Grant,actor,Joe Bascopolous,1.0
858575,Once Upon a Time,1944,Cary Grant,actor,Jerry Flynn,1.0
858533,Arsenic and Old Lace,1944,Cary Grant,actor,Mortimer Brewster,1.0
858570,None But the Lonely Heart,1944,Cary Grant,actor,Ernie Mott,1.0
858569,Night and Day,1946,Cary Grant,actor,Cole Porter,1.0
858572,Notorious,1946,Cary Grant,actor,Devlin,1.0
858589,The Bachelor and the Bobby-Soxer,1947,Cary Grant,actor,Dick Nugent,1.0
858590,The Bishop's Wife,1947,Cary Grant,actor,Dudley,1.0
858565,Mr. Blandings Builds His Dream House,1948,Cary Grant,actor,Jim Blandings,1.0
858545,Every Girl Should Be Married,1948,Cary Grant,actor,Dr. Madison Brown,1.0
858554,I Was a Male War Bride,1949,Cary Grant,actor,Captain Henri Rochard,1.0

### How many roles were available for actors in the 1950s?

In [139]:
len(cast[(cast.year //10 * 10 == 1950) & (cast.type == "actor")])

156276

### How many roles were avilable for actresses in the 1950s?

In [114]:
len(cast[(cast.year //10 * 10 == 1950) & (cast.type == "actress")])

56852

### How many leading roles (n=1) were available from the beginning of film history through 1980?

In [115]:
len(cast[(cast.n == 1) & (cast.year <= 1980)])

64477

### How many non-leading roles were available through from the beginning of film history through 1980?

In [140]:
len(cast[(cast.n != 1) & (cast.year <= 1980)])

1104400

### How many roles through 1980 were minor enough that they did not warrant a numeric "n" rank?

In [141]:
len(cast[(cast.n.isnull()) & (cast.year <= 1980)])

442164