# XML example and exercise
****
+ study examples of accessing nodes in XML tree structure  
+ work on exercise to be completed and submitted
****
+ reference: https://docs.python.org/2.7/library/xml.etree.elementtree.html
+ data source: http://www.dbis.informatik.uni-goettingen.de/Mondial
****

In [228]:
from xml.etree import ElementTree as ET

## XML example

+ for details about tree traversal and iterators, see https://docs.python.org/2.7/library/xml.etree.elementtree.html

In [229]:
document_tree = ET.parse( './data/mondial_database_less.xml' )

In [230]:
# print names of all countries
for child in document_tree.getroot():
    print child.find('name').text
    
#Note: This example works with Python 2.7 but not for higher versions.

Albania
Greece
Macedonia
Serbia
Montenegro
Kosovo
Andorra

In [231]:
# print names of all countries and their cities
for element in document_tree.iterfind('country'):
    print '* ' + element.find('name').text + ':',
    capitals_string = ''
    for subelement in element.getiterator('city'):
        capitals_string += subelement.find('name').text + ', '
    print capitals_string[:-2]

* Albania: Tirana, Shkodër, Durrës, Vlorë, Elbasan, Korçë
* Greece: Komotini, Kavala, Athina, Peiraias, Peristeri, Acharnes, Patra, Kozani, Kerkyra, Ioannina, Thessaloniki, Iraklio, Chania, Ermoupoli, Rhodes, Tripoli, Lamia, Chalkida, Larissa, Volos, Mytilini, Karyes
* Macedonia: Skopje, Kumanovo
* Serbia: Beograd, Novi Sad, Niš
* Montenegro: Podgorica
* Kosovo: Prishtine
* Andorra: Andorra la Vella

In [232]:
# print names of all countries and their cities
for country in document_tree.iterfind('country'):
    print '* ' + country.find('name').text + ':',
    capitals_string = ''
    for subelement in element.getiterator('city'):
        capitals_string += subelement.find('name').text + ', '
    print capitals_string[:-2]

* Albania: Andorra la Vella
* Greece: Andorra la Vella
* Macedonia: Andorra la Vella
* Serbia: Andorra la Vella
* Montenegro: Andorra la Vella
* Kosovo: Andorra la Vella
* Andorra: Andorra la Vella

****
## XML exercise

Using data in 'data/mondial_database.xml', the examples above, and refering to https://docs.python.org/2.7/library/xml.etree.elementtree.html, find

1. 10 countries with the lowest infant mortality rates
2. 10 cities with the largest population
3. 10 ethnic groups with the largest overall populations (sum of best/latest estimates over all countries)
4. name and country of a) longest river, b) largest lake and c) airport at highest elevation

In [233]:
document = ET.parse( './data/mondial_database.xml' )

In [267]:
# print infant mortality of all countries
for child in document.getroot():
    if hasattr(child, 'infant_mortality'):
    #if (child.find('infant_mortality').):
        print child.find('infant_mortality').text

In [268]:
# Inspect the dataset: print infant mortality of all countries
#for child in document.getroot():
#    name = child.find('name').text
#    node = child.find('infant_mortality')
#    if node is not None:   
#        print '%s: %s' % (name, node.text)       
#        
#    else:
#        print 'Unable to find %s for ountry %s' % ('infant_mortality',name)

In [269]:
#Exercise 1: 10 countries with the lowest infant mortality rates

data = []

for child in document.getroot():
    name = child.find('name').text
    node = child.find('infant_mortality')
    if node is not None:
        data.append((node.text, name))      

data.sort(reverse=False)
data[0:10]

[('1.81', 'Monaco'),
 ('10.16', 'Romania'),
 ('10.2', 'Fiji'),
 ('10.48', 'Brunei'),
 ('10.5', 'Grenada'),
 ('10.59', 'Mauritius'),
 ('10.7', 'Panama'),
 ('10.77', 'Seychelles'),
 ('10.92', 'United Arab Emirates'),
 ('10.93', 'Barbados')]

In [270]:
#Exercise 2: 10 cities with the largest population

#list to store the most recent population of each city 
most_recent_population_of_each_city = []

#Iterate countries
for country in document.iterfind('country'):    
    #Iterate cities 
    for city in country.getiterator('city'):      
        
        #Get all the population measurements for this city
        population = city.findall('population')
        
        city_population =[]         
        
        if len(population) > 0:  #There are cities with no information about the population (len(population) == 0)          
            #Iterate population 
            for city_population_year in population: 
                city_population.append((city_population_year.attrib['year'], city_population_year)) 
     
            #end for
        
            #Sort city population measurements by year
            city_population.sort(reverse=True) #sort by year in descending order
            
            #Save the most recent population measure for this city
            #city_name = city.find('name').text.encode('utf-8')            
            most_recent_population_of_each_city.append((int(city_population[0][1].text), city.find('name').text)) 
    
most_recent_population_of_each_city.sort(reverse=True) #sort by population values in descending order

#Result:
most_recent_population_of_each_city[0:10]

[(22315474, 'Shanghai'),
 (13710512, 'Istanbul'),
 (12442373, 'Mumbai'),
 (11979529, 'Moskva'),
 (11716620, 'Beijing'),
 (11152344, u'S\xe3o Paulo'),
 (11090314, 'Tianjin'),
 (11071424, 'Guangzhou'),
 (11034555, 'Delhi'),
 (10358381, 'Shenzhen')]

In [271]:
#Exercise 3: 10 ethnic groups with the largest overall populations (sum of best/latest estimates over all countries)

In [272]:
#list to store the most recent population of each country 
#most_recent_population_of_each_country = []

list_ethnicgroup = []
list_group_population = []

#Iterate countries
for country in document.iterfind('country'): 
    
    #print country.find('name').text
    
    #Get all the population measurements for this country
    populations = country.findall('population')
    
    country_population =[]      
        
    #Get the most recent country population 
    if len(populations) > 0:  #There may be countries with no information about the population (len(population) == 0)          
        #Iterate population 
        for country_population_year in populations: 
            country_population.append((country_population_year.attrib['year'], country_population_year)) 
     
            #Sort country population measurements by year
            country_population.sort(reverse=True) #sort by year in descending order
            
            #Save the most recent population measure for this country           
            most_recent_population_of_this_country = int(country_population[0][1].text)
        
           
        #Get all the population measurements for this country
        ethnicgroups = country.findall('ethnicgroup')
        
        #Get the most recent country population 
        if len(ethnicgroups) > 0:  #There may be countries with no information about the ethnicgroups (len(ethnicgroups) == 0)          
            
            #Iterate ethnicgroups 
            for group in ethnicgroups: 
                percentage = group.attrib['percentage']
                groupName  = group.text
                
                #Calculate 
                group_population = most_recent_population_of_this_country * float(percentage) /100               
                
                list_ethnicgroup.append(groupName)                               
                list_group_population.append(group_population)

In [273]:
#Create a pandas data frame with the necessary data
df = pd.DataFrame(
    {'ethnic_group': list_ethnicgroup,     
     'group_population': list_group_population     
    })

#Sum all the populations of each group for each country
total_population_each_group = df.groupby(['ethnic_group'])[['group_population']].sum()

#Solution
total_population_each_group.sort_values('group_population', ascending=False).head(10)

              group_population
ethnic_group
Han Chinese       1.245059e+09
Indo-Aryan        8.718156e+08
European          4.948722e+08
African           3.183251e+08
Dravidian         3.027137e+08
Mestizo           1.577344e+08
Bengali           1.467769e+08
Russian           1.318570e+08
Japanese          1.265342e+08
Malay             1.219936e+08

In [274]:
#Exercise 4: name and country of a) longest river, b) largest lake and c) airport at highest elevation

In [275]:
#df country / country_code

#Iterate countries
list_countries = []
list_country_code = []

for country in document.iterfind('country'):     
    #print country.find('name').text
    list_countries.append(country.find('name').text)
    list_country_code.append(country.attrib['car_code'])
    
   
df_countries = pd.DataFrame(
    {'country': list_countries,     
     'country_code': list_country_code     
    })

df_countries.head()

      country country_code
0     Albania           AL
1      Greece           GR
2   Macedonia           MK
3      Serbia          SRB
4  Montenegro          MNE

In [276]:
#df river / length

#Iterate rivers
list_rivers = []
list_river_length = []
list_river_country = []
for river in document.iterfind('river'):    
    #list_rivers.append(river.find('name').text)
    river_name = river.find('name').text
    
    length = river.find('length')    
    
    #if isinstance(length, NoneElement):
    if length is not None:
        river_length = length.text
        #list_river_length.append(river.find('length').text) 
    else:
        #list_river_length.append(0) 
        river_length = 0
            
    river_country = river.attrib['country']
    #print river_country.split()
    
    for country in river_country.split(): #Get the country codes (note that many rivers go through more than one country)
        list_river_country.append(country)        
        list_rivers.append(river_name)       
        list_river_length.append(river_length) 
    
df_rivers = pd.DataFrame(
    {'river': list_rivers,     
     'river_length': list_river_length,
     'river_country': list_river_country
    })

#df_rivers.sort_values('river_length', ascending = False).head()

In [277]:
#Merge df rivers with df countries

m = df_countries.merge(df_rivers, left_on=df_countries.country_code, right_on=df_rivers.river_country)
m.sort_values('river_length', ascending = False).head(2)

#Solution: river Selenge, country: Russia and Mongolia

      country country_code    river river_country river_length
144    Russia            R  Selenge             R          992
247  Mongolia          MNG  Selenge           MNG          992

In [278]:
#Largest lake

#Iterate lake
list_lakes = []
list_lake_area = []
list_lake_country = []
for lake in document.iterfind('lake'):    
    lake_name = lake.find('name').text
    
    area = lake.find('area')    
    
    #if isinstance(length, NoneElement):
    if area is not None:
        lake_area = float(area.text)         
    else:        
        lake_area = 0
            
    lake_locations = lake.findall('located')
    
    for location in lake_locations:
        country = location.attrib['country']
  
        list_lakes.append(lake_name)
        list_lake_area.append(lake_area)
        list_lake_country.append(country)
        
    
df_lakes = pd.DataFrame(
    {'name': list_lakes,     
     'area': list_lake_area,
     'country': list_lake_country
    })
#df_lakes


#Merge df lakes with df countries

m = df_countries.merge(df_lakes, left_on=df_countries.country_code, right_on=df_lakes.country)
m.sort_values('area', ascending = False).head(4)

#Solution: lake Caspian Sea, countries: Kazakhstan, Turkmenistan, Iran , Russia

       country_x country_code      area country_y         name
64    Kazakhstan          KAZ  386400.0       KAZ  Caspian Sea
62  Turkmenistan           TM  386400.0        TM  Caspian Sea
60          Iran           IR  386400.0        IR  Caspian Sea
36        Russia            R  386400.0         R  Caspian Sea

In [279]:
#Highest airport

#Iterate airports
list_airports = []
list_airport_elevation = []
list_airport_country = []

for airport in document.iterfind('airport'):    
    airport_name = airport.find('name').text
    
    #print airport_name
    
    elevation = airport.find('elevation') 
    #print elevation
        
    #if elevation is None: #does not work ??
    if elevation.text is None:
    #if isinstance(elevation, NoneElement): #?????????????   
        airport_elevation = 0   
    else: 
        #print elevation.text
        airport_elevation = float(elevation.text)      
        
            
    airport_country = airport.attrib['country']    
   
  
    list_airports.append(airport_name)
    list_airport_elevation.append(airport_elevation)
    list_airport_country.append(airport_country)
        
    
df_airports = pd.DataFrame(
    {'name': list_airports,     
     'elevation': list_airport_elevation,
     'country': list_airport_country
    })


#Merge df airports with df countries

m = df_countries.merge(df_airports, left_on=df_countries.country_code, right_on=df_airports.country)
m.sort_values('elevation', ascending = False).head(1)

#Solution: El Alto Intl, country: Bolivia, elevation 4063 m

     country_x country_code country_y  elevation          name
1085   Bolivia          BOL       BOL     4063.0  El Alto Intl